.form {
   display: flex;
   flex-direction: column;
   /* font-family: A; */
   padding-top: 0px;
}
.form > input {
   display: none;
}
/* .form > button {
   border-radius: 3px;
   padding: 0px 4px;
   font-size: 16px;
   margin-bottom: 3px;
} */
.buttons {
   display: flex;
   padding: 0px;
   margin: 0px;
}
.buttons > button {
   font-size: 16px;
   padding: 2px;
   border-radius: 3px;
   border: 1px solid #fff;
}
.buttons > button:hover {
   background: sandybrown;
}
.buttons > button:active {
   background: salmon;
}
/* .input {
   padding-top: 5px;
} */
