.table {
   margin-top: 5px;
   border: 1px solid #000;
   width: 100%;
}
.table__head {
   background-color: cadetblue;
   font-size: 18px;
   font-weight: bold;
}
td,
th {
   border: 1px solid rgba(0, 0, 0, 0.6);
   text-align: center;
   justify-content: center;
}
.empty {
   text-align: center;
   font-size: 24px;
}
