.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto";
}
@media (max-width: 1112px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}
